.logo {
  width: 10px;
  height: 70px;
}

.logoSize {
  width: 180px;
  height: 30px;
  margin-top: 20px;
}

.search {
  width: 400px;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 20px;
  background-color: rgb(233, 233, 233);
  margin-left: 150px;
}


.shopping_cart,
.mypage {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.shopping_cart {
  width: 50px;
  height: 40px;
}

.shopping_cart .new_shopping_cart {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  right: 0;
  background-color: #eb5757;
  border-radius: 50%;
}

.shopping_cart .new_shopping_cart p {
  position: relative;
  top: 50%;
  left: 45%;
  transform: translate(-10%, -45%);
  background: transparent;
  font-size: 12px;
}

.shopping_cart img {
  width: 32px;
  height: 32px;
}

.shopping_cart span,
.mypage span {
  font-size: 12px;
  line-height: 14px;
  color: #767676;
}
